@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

body {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1a1a1a;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons .sign-up {
  background-color: #ffffff;
  color: black;
}

.auth-buttons .log-in {
  background-color: #6c757d;
  color: white;
}

.auth-buttons .sign-up:hover {
  background-color: #cccccc;
}

.auth-buttons .log-in:hover {
  background-color: #5a6268;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: linear-gradient(90deg, #0a0a0a 0%, #1a1a1a 100%);
  color: #ffffff;
  width: 100%;
  flex-grow: 1;
}

.hero-text {
  max-width: 50%;
}

.hero h1 {
  font-size: 3em;
  font-weight: bold;
}

.hero p {
  font-size: 1.5em;
  margin: 20px 0;
}

.hero form {
  margin-top: 30px;
}

.hero form label,
.hero form input,
.hero form button {
  font-size: 1.2em;
}

.hero form input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 200px;
}

.hero form button {
  padding: 10px 20px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero form button:hover {
  background-color: #cccccc;
}

.hero-images {
  display: flex;
  gap: 20px;
}

.hero-images img {
  border-radius: 10px;
}

.hero-images .large-image {
  width: 100%;
}

/* Result Page Styles */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #252525;
}

.result-container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: #ffffff;
}

.result img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.result h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
}

.result h2 {
  font-size: 2.5em;
  margin: 20px 0;
  color: #ffffff;
}

.result p {
  font-size: 2.5em;
  margin: 20px 0;
  color: #ffffff;
}

.result ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

.result ul li {
  background-color: #1a1a1a;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.go-back {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.go-back:hover {
  background-color: #0056b3;
}

.percentage-increase {
  color: green !important;
}

.percentage-decrease {
  color: red !important;
}
